{
    "server": true,
    "datacenter": "dc1",
    "advertise_addr": "{{getv "/self/host/agent_ip"}}",
    "bind_addr": "0.0.0.0",
    "client_addr": "{{getv "/self/host/agent_ip"}}",
    "data_dir": "/consul/data",
    "encrypt": "{{getv "/self/service/metadata/enc.key"}}",
    "log_level": "INFO"
}
